#--------------------------------------------------------------------------
# In order to work for local and release packages and/or for local and grid
# one should only point to files via the ${ROOTCOREBIN}/data/<package>
# 
# ---------------------------  Global variables   -------------------------
# ---------------------------  Run configuration ----------------------
cafe.Run:  TileTriggerCheck

cafe.Input: https://dav.ndgf.org:443/atlas/disk/atlasdatadisk/rucio/mc15_13TeV/9b/d1/DAOD_SUSY1.06514694._000001.pool.root.1
cafe.Output: ttcheck.root
cafe.Progress: 1000
cafe.Events: 100

