#--------------------------------------------------------------------------
# In order to work for local and release packages and/or for local and grid
# one should only point to files via the ${ROOTCOREBIN}/data/<package>
#
# ---------------------------  Global variables   -------------------------
Global.IsData: TRUE
Global.Is25ns: TRUE
Global.IsSignal: FALSE
Global.IsAtlfast: FALSE
Global.Period: p13tev
Global.cutfile: ZeroLeptonRun2/data/cutfile8TeV_RJigsaw.dat
Global.JetContainerKey: AntiKt4EMTopoJets
Global.ElectronContainerKey: Electrons
Global.PhotonContainerKey: Photons
Global.TauContainerKey: TauJets
Global.METContainerKey: MET_Core_AntiKt4EMTopo
Global.TruthParticleContainerKey: TruthParticles
Global.JESNuisanceParameterSet: 0
Global.DerivationTag: p2419


# ---------------------------  Run configuration ----------------------
cafe.Run:  JobBookeeping cafe::IfPr(datamc) BuildSUSYObjects(susyobjs) ZeroLeptonPassThrough(passthrough)
#+cafe.Run: ZeroLeptonSR(sr)# #
#+cafe.Run: ZeroLeptonCRWT(crwt) ZeroLeptonCRWT(vrwt)
#+cafe.Run: ZeroLeptonCRZ(crz)
#+cafe.Run: BuildSUSYObjects(susyobjsy)  # ZeroLeptonCRY(cry)

cafe.Input: /data/users/rsmith/mc15_13TeV.370703.MadGraphPythia8EvtGen_A14NNPDF23LO_SS_direct_425_375.merge.DAOD_SUSY1.e3962_a766_a777_r6282_p2375/DAOD_SUSY1.05970104._000001.pool.root.1
cafe.Output: my.root
#cafe.xAODOutput: xAOD.root
cafe.Containers: %{Global.JetContainerKey} Muons %{Global.ElectronContainerKey} %{Global.PhotonContainerKey} %{Global.TauContainerKey} %{Global.METContainerKey} PrimaryVertices EventInfo TruthEvent TruthVertex TruthParticle AntiKt4TruthJets MET_Truth
cafe.Progress: 1000
cafe.Events: 10

# ---------------------------  bookkeeping ---------------
JobBookeeping.DerivationTag: %{Global.DerivationTag}
JobBookeeping.IsData: %{Global.IsData}

# ---------------------------  data/MC specific processors ---------------
datamc.Select: IsData(isdata)
datamc.Then: GRLProcessor(grl) DetectorQuality
datamc.Else: MCEventVeto(mcveto) MCInfoProcessor(mcinfo) PileUpRWProcessor(pileuprw)
isdata.Expected: %{Global.IsData}
isdata.Enforce: TRUE

# ---------------------------  Vetos based on MC truth -----------------
mcveto.Period: %{Global.Period}
mcveto.TruthParticleContainerKey: TruthParticles

# ---------------------------  Pileup reweighting ----------------------
#pileuprw.forcedRunNumber: 195847
pileuprw.PileUpMCFileNames: ${ROOTCOREBIN}/data/ZeroLeptonRun2/PRW.mc15_13TeV.410000.r6630_r6264.root
pileuprw.PileUpDataFileNames: ${ROOTCOREBIN}/data/ZeroLeptonRun2/ilumicalc_histograms_None_267073-267639.root


# ---------------------------  MC Info ----------------------
mcinfo.IsSignal: %{Global.IsSignal}
mcinfo.MCDBFile: ZeroLeptonRun2/data/MCBackgroundDB.dat
mcinfo.MCDBExtended: TRUE
mcinfo.TruthParticleContainerKey: %{Global.TruthParticleContainerKey}

# ---------------------------  GRL -----------------
grl.GRLFile: ${ROOTCOREBIN}/data/ZeroLeptonRun2/data15_13TeV.periodAllYear_DetStatus-v65-pro19-01_DQDefects-00-01-02_PHYS_StandardGRL_All_Good.xml

# ---------------------------  Build physics objects -----------------
susyobjs.IsData: %{Global.IsData}
susyobjs.Is25ns: %{Global.Is25ns}
susyobjs.JetContainerKey: %{Global.JetContainerKey}
susyobjs.Period: %{Global.Period}
susyobjs.IsAtlfast: %{Global.IsAtlfast}
susyobjs.JESNuisanceParameterSet: %{Global.JESNuisanceParameterSet}
susyobjs.ElectronContainerKey: %{Global.ElectronContainerKey}
susyobjs.PhotonContainerKey: %{Global.PhotonContainerKey}
susyobjs.TauContainerKey: %{Global.TauContainerKey}
susyobjs.BuildTriggerJetAndMET: true


# ---------------------------  Signal Region -----------------
passthrough.IsData: %{Global.IsData}
passthrough.cutfile: %{Global.cutfile}
passthrough.IsSignal: %{Global.IsSignal}
passthrough.Period: %{Global.Period}
passthrough.DerivationTag: %{Global.DerivationTag}
passthrough.fillTRJigsawVars: TRUE
passthrough.BuildTriggerJetAndMET: TRUE
passthrough.MaxJetCut: 10

# # ---------------------------  Signal Region -----------------
# sr.IsData: %{Global.IsData}
# sr.cutfile: %{Global.cutfile}
# sr.IsSignal: %{Global.IsSignal}
# sr.Period: %{Global.Period}
# sr.DerivationTag: %{Global.DerivationTag}
# sr.fillTRJigsawVars: true

# # ---------------------------  CRWT Region -----------------
# crwt.IsData: %{Global.IsData}
# crwt.cutfile: %{Global.cutfile}
# crwt.IsSignal: %{Global.IsSignal}
# crwt.Period: %{Global.Period}
# crwt.DerivationTag: %{Global.DerivationTag}
# crwt.fillTRJigsawVars: true

# # ---------------------------  VRWT Region -----------------
# vrwt.IsData: %{Global.IsData}
# vrwt.cutfile: %{Global.cutfile}
# vrwt.IsVR: TRUE
# vrwt.IsSignal: %{Global.IsSignal}
# vrwt.Period: %{Global.Period}
# vrwt.DerivationTag: %{Global.DerivationTag}
# vrwt.fillTRJigsawVars: true

# # ---------------------------  CRZ Region -----------------
# crz.IsData: %{Global.IsData}
# crz.cutfile: %{Global.cutfile}
# crz.IsSignal: %{Global.IsSignal}
# crz.Period: %{Global.Period}
# crz.DerivationTag: %{Global.DerivationTag}
# crz.fillTRJigsawVars: true


# ---------------------------  Build physics objects -----------------
# susyobjsy.IsData: %{Global.IsData}
# susyobjsy.Is25ns: %{Global.Is25ns}
# susyobjsy.JetContainerKey: %{Global.JetContainerKey}
# susyobjsy.Period: %{Global.Period}
# susyobjsy.IsAtlfast: %{Global.IsAtlfast}
# susyobjsy.PhotonInOR: TRUE
# susyobjsy.suffix: cry
# susyobjsy.JESNuisanceParameterSet: %{Global.JESNuisanceParameterSet}
# susyobjsy.ElectronContainerKey: %{Global.ElectronContainerKey}
# susyobjsy.PhotonContainerKey: %{Global.PhotonContainerKey}
# susyobjsy.TauContainerKey: %{Global.TauContainerKey}
#

# # ---------------------------  CRY Region -----------------
# cry.IsData: %{Global.IsData}
# cry.cutfile: %{Global.cutfile}
# cry.IsSignal: %{Global.IsSignal}
# cry.Period: %{Global.Period}
# cry.DerivationTag: %{Global.DerivationTag}
# cry.suffix: cry
# cry.fillTRJigsawVars: true
