#--------------------------------------------------------------------------
# In order to work for local and release packages and/or for local and grid
# one should only point to files via the ${ROOTCOREBIN}/data/<package>
# 
# ---------------------------  Global variables   -------------------------
Global.IsData: FALSE
Global.IsSignal: FALSE
Global.IsAtlfast: FALSE
Global.Period: p13tev
Global.cutfile: ZeroLeptonRun2/data/cutfile8TeV.dat
Global.JetCollectionKey: AntiKt4LCTopoJets
Global.ElectronContainerKey: ElectronCollection
Global.PhotonContainerKey: PhotonCollection
Global.TauContainerKey: TauRecContainer
Global.METContainerKey: MET_RefFinal
Global.JESNuisanceParameterSet: 0
Global.DerivationTag: p1872

# ---------------------------  Run configuration ----------------------
cafe.Run:  JobBookeeping cafe::IfPr(datamc) ZeroLeptonSystVariations(systloop) 

cafe.Input: root://eosatlas.cern.ch//eos/atlas/user/l/lduflot/atlasreadable/datafiles/mc14_13TeV.110401.PowhegPythia_P2012_ttbar_nonallhad.merge.DAOD_SUSY1.e2928_s1982_s2008_r5787_r5853_p1872/DAOD_SUSY1.05248705._000028.pool.root.1
cafe.Output: my.root
#cafe.xAODOutput: xAOD.root
cafe.Containers: %{Global.JetCollectionKey} Muons %{Global.ElectronContainerKey} %{Global.PhotonContainerKey} %{Global.TauContainerKey} %{Global.METContainerKey} PrimaryVertices EventInfo TruthEvent TruthVertex TruthParticle AntiKt4TruthJets MET_Truth 
cafe.Progress: 1000
cafe.Events: 2

# ---------------------------  data/MC specific processors ---------------
datamc.Select: IsData(isdata)
datamc.Then: GRLProcessor(grl) DetectorQuality
datamc.Else: MCEventVeto(mcveto) MCInfoProcessor(mcinfo) PileUpRWProcessor(pileuprw)
isdata.Expected: %{Global.IsData}
isdata.Enforce: TRUE

# ---------------------------  Vetos based on MC truth -----------------
mcveto.Period: %{Global.Period}

# ---------------------------  Pileup reweighting ----------------------
#pileuprw.forcedRunNumber: 195847


# ---------------------------  MC Info ----------------------
mcinfo.IsSignal: %{Global.IsSignal}
mcinfo.MCDBFile: ZeroLeptonRun2/data/MCBackgroundDB.dat
mcinfo.MCDBExtended: TRUE

# ---------------------------  GRL -----------------
grl.GRLFile: ${ROOTCOREBIN}/data/SUSYTools/GRL/Summer2013/data12_8TeV.periodAllYear_DetStatus-v61-pro14-02_DQDefects-00-01-00_PHYS_StandardGRL_All_Good.xml


# ---------------------------  systematics looper -----------------
systloop.Run: BuildSUSYObjects(susyobjs) ZeroLeptonSR(sr) ZeroLeptonCRWT(crwt) ZeroLeptonCRWT(vrwt) ZeroLeptonCRZ(crz) BuildSUSYObjects(susyobjsy) ZeroLeptonCRY(cry)
#systloop.SystPrefix: JET_EffectiveNP_1

# ---------------------------  Build physics objects -----------------
susyobjs.IsData: %{Global.IsData}
susyobjs.JetCollectionKey: %{Global.JetCollectionKey}
susyobjs.UseSystematics: TRUE
susyobjs.Period: %{Global.Period}
susyobjs.IsAtlfast: %{Global.IsAtlfast}
susyobjs.JESNuisanceParameterSet: %{Global.JESNuisanceParameterSet}
susyobjs.ElectronContainerKey: %{Global.ElectronContainerKey}
susyobjs.PhotonContainerKey: %{Global.PhotonContainerKey}

# ---------------------------  Signal Region -----------------
sr.IsData: %{Global.IsData}
sr.cutfile: %{Global.cutfile}
sr.IsSignal: %{Global.IsSignal}
sr.UseSystematics: TRUE
sr.Period: %{Global.Period}
sr.DerivationTag: %{Global.DerivationTag}


# ---------------------------  CRWT Region -----------------
crwt.IsData: %{Global.IsData}
crwt.cutfile: %{Global.cutfile}
crwt.IsSignal: %{Global.IsSignal}
crwt.UseSystematics: TRUE
crwt.Period: %{Global.Period}
crwt.DerivationTag: %{Global.DerivationTag}

# ---------------------------  VRWT Region -----------------
vrwt.IsData: %{Global.IsData}
vrwt.cutfile: %{Global.cutfile}
vrwt.IsVR: TRUE
vrwt.IsSignal: %{Global.IsSignal}
vrwt.UseSystematics: TRUE
vrwt.Period: %{Global.Period}
vrwt.DerivationTag: %{Global.DerivationTag}

# ---------------------------  CRZ Region -----------------
crz.IsData: %{Global.IsData}
crz.cutfile: %{Global.cutfile}
crz.IsSignal: %{Global.IsSignal}
crz.UseSystematics: TRUE
crz.Period: %{Global.Period}
crz.DerivationTag: %{Global.DerivationTag}

# ---------------------------  Build physics objects -----------------
susyobjsy.IsData: %{Global.IsData}
susyobjsy.JetCollectionKey: %{Global.JetCollectionKey}
susyobjsy.Period: %{Global.Period}
susyobjsy.IsAtlfast: %{Global.IsAtlfast}
susyobjsy.PhotonInOR: TRUE
susyobjsy.suffix: cry
susyobjsy.UseSystematics: TRUE
susyobjsy.JESNuisanceParameterSet: %{Global.JESNuisanceParameterSet}
susyobjsy.ElectronContainerKey: %{Global.ElectronContainerKey}
susyobjsy.PhotonContainerKey: %{Global.PhotonContainerKey}

# ---------------------------  CRY Region -----------------
cry.IsData: %{Global.IsData}
cry.cutfile: %{Global.cutfile}
cry.IsSignal: %{Global.IsSignal}
cry.Period: %{Global.Period}
cry.DerivationTag: %{Global.DerivationTag}
cry.suffix: cry
cry.UseSystematics: TRUE


