#--------------------------------------------------------------------------
# In order to work for local and release packages and/or for local and grid
# one should only point to files via the ${ROOTCOREBIN}/data/<package>
# 
# ---------------------------  Global variables   -------------------------
Global.IsData: FALSE
Global.IsTruth: TRUE
Global.IsSignal: FALSE
Global.Period: p8tev
Global.cutfile: ZeroLeptonRun2/data/cutfile8TeV.dat
## GERALDINE
Global.JetCollectionKey: AntiKt4TruthJets
Global.DerivationTag: None
Global.TruthParticleContainerKey: TruthParticles

# ---------------------------  Run configuration ----------------------
## GERALDINE
cafe.Run:  JobBookeeping BuildTruthObjects(truthobjs) MCInfoProcessor(mcinfo)
+cafe.Run: ZeroLeptonSR(sr) ZeroLeptonCRWT(crwt) ZeroLeptonCRWT(vrwt)
+cafe.Run: ZeroLeptonCRZ(crz)
+cafe.Run: BuildTruthObjects(truthobjsy) ZeroLeptonCRY(cry)

cafe.Input: root://eosatlas.cern.ch//eos/atlas/user/c/conti/atlasreadable/datafiles/mc15_13TeV.361007.Pythia8EvtGen_A14NNPDF23LO_jetjet_JZ7.evgen.EVNT.e3569_tid04904951_00/DAOD_TRUTH1.DAOD.04904951._000779.pool.root
cafe.Output: mytruth.root
cafe.xAODOutput: xAOD.root
cafe.Containers: McEventInfo MET_Truth TruthEvents TruthElectrons TruthMuons TruthPhotons TruthParticles TruthTaus AntiKt4TruthJets TruthVertices
cafe.Progress: 1000
cafe.Events: 10

# ---------------------------  bookkeeping ---------------
JobBookeeping.DerivationTag: %{Global.DerivationTag}
JobBookeeping.IsData: %{Global.IsData}

# ---------------------------  data/MC specific processors ---------------
datamc.Select: IsData(isdata)
## GERALDINE
#datamc.Then: GRLProcessor(grl) DetectorQuality
## GERALDINE 
datamc.Else: MCEventVeto(mcveto) MCInfoProcessor(mcinfo) 
isdata.Expected: %{Global.IsData}
isdata.Enforce: TRUE

# ---------------------------  Vetos based on MC truth -----------------
mcveto.Period: %{Global.Period}

# ---------------------------  Pileup reweighting ----------------------
#pileuprw.forcedRunNumber: 195847 ## GERALDINE

# ---------------------------  MC Info ----------------------
mcinfo.IsSignal: %{Global.IsSignal}
mcinfo.MCDBFile: ZeroLeptonRun2/data/MCBackgroundDB.dat
mcinfo.MCDBExtended: TRUE
mcinfo.TruthParticleContainerKey: %{Global.TruthParticleContainerKey}


# ---------------------------  GRL -----------------
#grl.GRLFile: ${ROOTCOREBIN}/data/SUSYTools/GRL/Summer2013/data12_8TeV.periodAllYear_DetStatus-v61-pro14-02_DQDefects-00-01-00_PHYS_StandardGRL_All_Good.xml

# ---------------------------  Build physics objects -----------------
truthobjs.IsData: %{Global.IsData}
truthobjs.JetCollectionKey: %{Global.JetCollectionKey}
truthobjs.PhotonInOR: FALSE

# ---------------------------  Signal Region -----------------
sr.IsData: %{Global.IsData}
sr.cutfile: %{Global.cutfile}
sr.IsSignal: %{Global.IsSignal}
sr.IsTruth: %{Global.IsTruth}
sr.DerivationTag: %{Global.DerivationTag}

# ---------------------------  CRWT Region -----------------
crwt.IsData: %{Global.IsData}
crwt.cutfile: %{Global.cutfile}
crwt.IsSignal: %{Global.IsSignal}
crwt.IsTruth: %{Global.IsTruth}
crwt.DerivationTag: %{Global.DerivationTag}

# ---------------------------  VRWT Region -----------------
vrwt.IsData: %{Global.IsData}
vrwt.cutfile: %{Global.cutfile}
vrwt.IsVR: TRUE
vrwt.IsSignal: %{Global.IsSignal}
vrwt.IsTruth: %{Global.IsTruth}
vrwt.DerivationTag: %{Global.DerivationTag}

# ---------------------------  CRZ Region -----------------                                                                                                                                                                                                                 
crz.IsData: %{Global.IsData}
crz.cutfile: %{Global.cutfile}
crz.IsSignal: %{Global.IsSignal}
crz.Period: %{Global.Period}
crz.IsTruth: %{Global.IsTruth}
crz.DerivationTag: %{Global.DerivationTag}

# --------------------------- CR3L Region ----------------                                                                    

cr3l.IsData: %{Global.IsData}
cr3l.cutfile: %{Global.cutfile}
cr3l.IsSignal: %{Global.IsSignal}
cr3l.Period: %{Global.Period}
cr3l.IsTruth: %{Global.IsTruth}
cr3l.DerivationTag: %{Global.DerivationTag}

# --------------------------- VR3L Region ----------------                                                                    

vr3l.IsData: %{Global.IsData}
vr3l.cutfile: %{Global.cutfile}
vr3l.IsVR: TRUE
vr3l.IsSignal: %{Global.IsSignal}
vr3l.Period: %{Global.Period}
vr3l.IsTruth: %{Global.IsTruth}
vr3l.DerivationTag: %{Global.DerivationTag}

# ---------------------------------------------------------

truthobjsy.IsData: %{Global.IsData}
truthobjsy.JetCollectionKey: %{Global.JetCollectionKey}
truthobjsy.PhotonInOR: TRUE
truthobjsy.suffix: cry

# ---------------------------  CRY Region -----------------                                                                                                                                                                                                                 
cry.IsData: %{Global.IsData}
cry.cutfile: %{Global.cutfile}
cry.IsSignal: %{Global.IsSignal}
cry.Period: %{Global.Period}
cry.IsTruth: %{Global.IsTruth}
cry.DerivationTag: %{Global.DerivationTag}
cry.suffix: cry