#--------------------------------------------------------------------------
# In order to work for local and release packages and/or for local and grid
# one should only point to files via the ${ROOTCOREBIN}/data/<package>
# 
# ---------------------------  Global variables   -------------------------
Global.Containers: AntiKt4LCTopoJets Muons ElectronCollection PhotonCollection TauRecContainer MET_RefFinal PrimaryVertices EventInfo 
Global.JetCollectionKey: AntiKt4LCTopoJets
Global.cutfile: ZeroLeptonRun2/data/cutfile8TeV.dat


# ---------------------------  Run configuration ----------------------
cafe.Run:  JobBookeeping cafe::IfPr(datamc) BuildSUSYObjects(susyobjs) 
+cafe.Run: ZeroLeptonDataDrivenQCD(smearSeeds)

cafe.Input: root://eosatlas.cern.ch//eos/atlas/user/j/jpoveda/r5625_test/AOD.01507244._011801.pool.root.1
cafe.Output: my.root
#cafe.xAODOutput: dummy.root
cafe.Containers:  %{Global.Containers}
cafe.Progress: 1000
cafe.Events: 10

# ---------------------------  data/MC specific processors ---------------
datamc.Select: IsData(isdata)
datamc.Then: GRLProcessor(grl) DetectorQuality
datamc.Else: 
isdata.Expected: TRUE
isdata.Enforce: TRUE

# ---------------------------  GRL -----------------
grl.GRLFile: ${ROOTCOREBIN}/data/SUSYTools/GRL/Summer2013/data12_8TeV.periodAllYear_DetStatus-v61-pro14-02_DQDefects-00-01-00_PHYS_StandardGRL_All_Good.xml

# ---------------------------  Build physics objects -----------------
susyobjs.IsData: TRUE
susyobjs.JetCollectionKey: %{Global.JetCollectionKey}
susyobjs.UseSmearedJets: FALSE

# ---------------------------  QCD seeds smearing -----------------
smearSeeds.SaveSeedEvents: FALSE
smearSeeds.Containers: %{Global.Containers}
smearSeeds.GaussianCoreSmearingType: optimal
smearSeeds.JetCollectionKey: %{Global.JetCollectionKey}
smearSeeds.cutfile: %{Global.cutfile}
smearSeeds.Run: BuildSUSYObjects(redojetmet) ZeroLeptonSR(sr) ZeroLeptonCRWT(crwt) ZeroLeptonCRWT(vrwt)

# ---------------------------  Build physics objects from smeared jets
redojetmet.IsData: TRUE
redojetmet.UseSmearedJets: TRUE
redojetmet.suffix: _smeared
redojetmet.JetCollectionKey: %{Global.JetCollectionKey}

# ---------------------------  Signal Region -----------------
sr.IsData: TRUE
sr.cutfile: %{Global.cutfile}
sr.IsSignal: FALSE
sr.suffix: _smeared

# ---------------------------  CRWT Region -----------------
crwt.IsData: TRUE
crwt.cutfile: %{Global.cutfile}
crwt.IsSignal: FALSE
crwt.suffix: _smeared

# ---------------------------  VRWT Region -----------------
vrwt.IsData: TRUE
vrwt.cutfile: %{Global.cutfile}
vrwt.IsVR: TRUE
vrwt.IsSignal: FALSE
vrwt.suffix: _smeared
