#--------------------------------------------------------------------------
# In order to work for local and release packages and/or for local and grid
# one should only point to files via the ${ROOTCOREBIN}/data/<package>
# 
# ---------------------------  Global variables   -------------------------
Global.Containers: AntiKt4LCTopoJets BTagging_AntiKt4LCTopo Muons CombinedMuonTrackParticles ExtrapolatedMuonTrackParticles InDetTrackParticles InDetTrackParticlesForward MuonSegments ElectronCollection egClusterCollection GSFTrackParticles PhotonCollection TauRecContainer TauSecondaryVertexContainer MET_RefFinal METMap_RefFinal MET_Track METMap_Track PrimaryVertices GSFConversionVertices EventInfo 
Global.JetCollectionKey: AntiKt4LCTopoJets
Global.cutfile: ZeroLeptonRun2/data/cutfile8TeV.dat

# ---------------------------  Run configuration ----------------------
cafe.Run:  JobBookeeping cafe::IfPr(datamc) BuildSUSYObjects(susyobjs) 
+cafe.Run: ZeroLeptonDataDrivenQCD(saveSeeds)

cafe.Input: root://eosatlas.cern.ch//eos/atlas/user/j/jpoveda/r5625_test/AOD.01507244._011801.pool.root.1
cafe.Output: my.root
cafe.xAODOutput: xAOD.root
cafe.Containers:  %{Global.Containers}
cafe.Progress: 1000
cafe.Events: 10

# ---------------------------  data/MC specific processors ---------------
datamc.Select: IsData(isdata)
datamc.Then: GRLProcessor(grl) DetectorQuality
datamc.Else: 
isdata.Expected: TRUE
isdata.Enforce: TRUE

# ---------------------------  GRL -----------------
grl.GRLFile: ${ROOTCOREBIN}/data/SUSYTools/GRL/Summer2013/data12_8TeV.periodAllYear_DetStatus-v61-pro14-02_DQDefects-00-01-00_PHYS_StandardGRL_All_Good.xml

# ---------------------------  Build physics objects -----------------
susyobjs.IsData: TRUE
susyobjs.JetCollectionKey: %{Global.JetCollectionKey}

# ---------------------------  QCD seed selection -----------------
saveSeeds.SaveSeedEvents: TRUE
saveSeeds.cutfile: %{Global.cutfile}

