#--------------------------------------------------------------------------
# In order to work for local and release packages and/or for local and grid
# one should only point to files via the ${ROOTCOREBIN}/data/<package>
# 
# ---------------------------  Global variables   -------------------------
Global.IsData: TRUE
Global.Containers: AntiKt4EMTopoJets Muons Electrons Photons TauJets MET_Core_AntiKt4EMTopo PrimaryVertices EventInfo METAssoc_AntiKt4EMTopo xTrigDecision TrigConfKeys Kt4EMTopoEventShape BTagging_AntiKt4EMTopo GSFTrackParticles egammaClusters MET_Track CombinedMuonTrackParticles ExtrapolatedMuonTrackParticles MuonSpectrometerTrackParticles InDetTrackParticles AntiKt10LCTopoTrimmedPtFrac5SmallR20Jets
Global.cutfile: $(ROOTCOREBIN)/data/ZeroLeptonRun2/cutfile13TeV.dat
Global.DerivationTag: p2419

# ---------------------------  Run configuration ----------------------
cafe.Run:  JobBookeeping cafe::IfPr(datamc) BuildSUSYObjects(susyobjs) 
+cafe.Run: ZeroLeptonDataDrivenQCD(saveSeeds)

cafe.Input: root://eosatlas.cern.ch//eos/atlas/user/j/jpoveda/r5625_test/AOD.01507244._011801.pool.root.1
cafe.Output: my.root
cafe.xAODOutput: xAOD.root
cafe.Containers:  %{Global.Containers}
cafe.Progress: 1000
cafe.Events: 10
cafe.AccessMode: 1 # kClassAccess

# ---------------------------  bookkeeping ---------------
JobBookeeping.DerivationTag: %{Global.DerivationTag}
JobBookeeping.IsData: %{Global.IsData}

# ---------------------------  data/MC specific processors ---------------
datamc.Select: IsData(isdata)
datamc.Then: GRLProcessor(grl) DetectorQuality
datamc.Else: 
isdata.Expected: TRUE
isdata.Enforce: TRUE

# ---------------------------  GRL -----------------
grl.GRLFile: ${ROOTCOREBIN}/data/SUSYTools/data15_13TeV.periodAllYear_DetStatus-v75-repro20-01_DQDefects-00-02-02_PHYS_StandardGRL_All_Good_25ns.xml

# ---------------------------  Build physics objects -----------------
susyobjs.IsData: %{Global.IsData}
susyobjs.Is25ns: TRUE
susyobjs.DoSystematics: FALSE
susyobjs.Period: p13tev
susyobjs.IsAtlfast: FALSE
susyobjs.TauContainerKey: TauJets
susyobjs.UseSmearedJets: FALSE
susyobjs.PileUpMCFileNames:  /cvmfs/atlas.cern.ch/repo/sw/database/GroupData/dev/SUSYTools/merged_prw.root
susyobjs.PileUpDataFileNames: ${ROOTCOREBIN}/data/ZeroLeptonRun2/ilumicalc_histograms_None_276262-284484.root


# ---------------------------  QCD seed selection -----------------
saveSeeds.SaveSeedEvents: TRUE
saveSeeds.cutfile: %{Global.cutfile}
saveSeeds.SeedOption: 1
