#--------------------------------------------------------------------------
# In order to work for local and release packages and/or for local and grid
# one should only point to files via the ${ROOTCOREBIN}/data/<package>
# 
# ---------------------------  Global variables   -------------------------
Global.IsData: FALSE
Global.IsSignal: TRUE
Global.TruthParticleContainerKey: TruthParticles
Global.DerivationTag: p2375

# ---------------------------  Run configuration ----------------------
cafe.Run:  JobBookeeping MCInfoProcessor(mcinfo)

cafe.Input: root://eosatlas.cern.ch//eos/atlas/atlasdatadisk/rucio/mc15_13TeV/2f/33/DAOD_SUSY1.05970153._000001.pool.root.1
cafe.Output: my.root
#cafe.xAODOutput: xAOD.root
cafe.Progress: 1000
cafe.Events: 10

# ---------------------------  bookkeeping ---------------
JobBookeeping.DerivationTag: %{Global.DerivationTag}
JobBookeeping.IsData: %{Global.IsData}

# ---------------------------  MC Info ----------------------
mcinfo.IsSignal: %{Global.IsSignal}
mcinfo.MCDBFile: ZeroLeptonRun2/data/MCBackgroundDB.dat
mcinfo.MCDBExtended: TRUE
mcinfo.TruthParticleContainerKey: %{Global.TruthParticleContainerKey}
mcinfo.BuildDB: TRUE


